<html>
    <head>
        <link rel="shortcut icon" href="/static/img/favicon.ico" />
        <style>
            body {
                min-width: 425px;
            }
            body * {
                font-family: 'Courier New', Courier, monospace;
                font-size: 16px;
            }
            button {
                /* border-width: 2px; */
                font-size: 1em;
            }
            h1 {
                font-size: 2em;
            }
            h2 {
                font-size: 1.5em;
                margin-block-end: 0.5em;
                margin-block-start: 1.5em;
            }
            h3 {
                font-size: 1em;
            }

            .lcd-screen {
                background-color: green;
                font-size: 1.2em;
                font-weight: bold;
                padding: 0.5em 1em;
                margin: 0;
            }
            .lcd-screen:last-child {
                padding-top: 0;
            }
            .lcd-screen:not(:last-child) {
                padding-bottom: 0;
            }
            .text-area {
                font-size: 0.8em;
                height: 600px;
                padding: 10px;
                width: 100%;
            }

            .component-list {
                list-style-type: none;
            }
            .component-row {
                display: flex;
                align-items: center;
                margin-bottom: 10px;
            }
            .led {
                display: inline-block;
                height: 20px;
                width: 20px;
                box-sizing: border-box;
            }
            .component-label {
                margin-left: 10px;
            }

            .led-stoplight-miss {
                border: 2px solid red;
            }
            .led-stoplight-steady {
                border: 2px solid orange;
            }
            .led-stoplight-ready {
                border: 2px solid green;
            }

            .img-buzzer {
                height: 20px;
            }

            .led-alarm {
                border: 2px solid blue;
            }
        </style>
    </head>
    <body>
        <h1>OneTesselAway Web UI</h1>

        <p>
            This is a web UI for the OneTesselAway device. It shows simulated
            hardware, advanced controls, debug info, and logs.
        </p>

        <h2>Simulated Hardware</h2>
        <p>
            This simulated hardware is synchronized with the device state. It
            should show exactly what is on the device.
        </p>
        <h3>LCD Screen</h3>
        <div>
            <pre class="lcd-screen"><%= lcdScreenLines[0] %></pre>
            <pre class="lcd-screen"><%= lcdScreenLines[1] %></pre>
        </div>
        <h3>Stoplight LEDs</h3>
        <ul class="component-list">
            <li class="component-row">
                <div class="led led-stoplight-ready"></div>
                <div class="component-label">Ready LED</div>
            </li>
            <li class="component-row">
                <div class="led led-stoplight-steady"></div>
                <div class="component-label">Steady LED</div>
            </li>
            <li class="component-row">
                <div class="led led-stoplight-miss"></div>
                <div class="component-label">Miss LED</div>
            </li>
        </ul>
        <h3>Alarm</h3>
        <ul class="component-list">
            <li class="component-row">
                <img class="img-buzzer" src="/static/img/buzzer-off.png" />
                <div class="component-label">Buzzer</div>
            </li>
            <li class="component-row">
                <div class="led led-alarm"></div>
                <div class="component-label">Alarm LED</div>
            </li>
            <button class="btn-alarm-set">
                Set alarm
            </button>
        </ul>

        <h2>Advanced Device Controls</h2>
        <p>Additional controls and settings for the device.</p>

        <h3>OneBusAway API Controls</h3>
        <p>
            Return an example OneBusAway API response for different traffic
            light states.
        </p>
        <ul class="component-list">
            <li class="component-row">
                <button class="btn-oba-eg-ready">Ready (Green LED)</button>
            </li>
            <li class="component-row">
                <button class="btn-oba-eg-steady">Steady (Yellow LED)</button>
            </li>
            <li class="component-row">
                <button class="btn-oba-eg-go">Go (All LEDs)</button>
            </li>
            <li class="component-row">
                <button class="btn-oba-eg-miss">Miss (Red)</button>
            </li>
        </ul>

        <h3>Alarm Controls</h3>
        <ul class="component-list">
            <li class="component-row">
                <button class="btn-alarm-play">
                    Play alarm tune
                </button>
            </li>
        </ul>

        <h2>Global State</h2>
        <p>
            Contents of the global state
        </p>
        <textarea id="global-state" class="text-area">
<%= globalState %>
        </textarea>

        <h2>Device Logs</h2>
        <p>
            Device logs from the OneTesselAway program, latest first. Refresh
            browser to get latest logs.
        </p>
        <textarea id="device-logs" class="text-area">
<%= deviceLogs %>
        </textarea>

        <!-- This client library is provided by the server -->
        <script src="/socket.io/socket.io.js"></script>

        <!-- Inject JS data from the server -->
        <%- injectConstants %> <%- injectGlobalState %>

        <!-- JS Entrypoint -->
        <script src="/static/index.js"></script>
    </body>
</html>
